<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="file" xsi:type="File" fileName="${environment:TEMP}\retaildemo\sales.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${threadid:padding=2}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${threadid:padding=2}|${logger}|${message}${onexception:${exception:format=message}}" />
      <target name="eventlog" xsi:type="EventLog"  layout="${logger}|${message}${onexception:${newline}${exception:format=tostring}}" source="RetailDemo" log="Application"/>
    </targets>
    <rules>
      <logger name="FirstChanceException.*" minlevel="Debug" final="true" />
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Debug" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>